// import the CSS framework
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-colorpicker/sass/colorpicker';

// override!
footer {
  .copyright {
    background-color: #666;
    color: #CCC;
  }
}

.navbar {
  .tmp-logo {
    display: inline-block;
    height: 100%;
    overflow: visible;
    i {
      display: block;
      height: 108%;
      &:first-child {
        margin-top: -66%;
      }
    }
  }
}
