.register {
  position: relative;

  .editing {
    font-style: italic;
  }

  .wish {
    &.completion-suggested {
      font-style: italic;
      opacity: 0.5;
    }
    &.completion-new {
      font-weight: bold;
    }
    &.completion-complete {
      text-decoration: line-through;
    }
  }

  .aux-header-control {
    position: absolute;
    top: 18px;
    right: 18px;
    .btn {
      background: none;
      width: 120px;
      border: solid 1px #999;
    }
  }
}
